<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.galacredit.app" android:versionCode="26" android:versionName="0.3.0">
  <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="35" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application
    android:allowBackup="false"
    android:icon="@drawable/ic_launcher"
    android:label="GalaCredit"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="false">
    <activity
      android:name="com.galacredit.app.MainActivity"
      android:exported="true"
      android:windowSoftInputMode="adjustResize"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.galacredit.app.NativeWebViewActivity"
      android:exported="false"
      android:screenOrientation="portrait" />
  </application>
</manifest>
